@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.gradient-bg {
  background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 18%, 1) 81%, hsla(0, 0%, 17%, 1) 100%);
}

.orbitron-font {
  font-family: var(--font-orbitron), sans-serif;
}

.montserrat-font {
  font-family: var(--font-montserrat), sans-serif;
}